<html>
<head>
    <title>Mybatis分页插件 - 测试页面</title>
    <script type="text/ecmascript" src="${request.contextPath}/static/js/jquery-1.11.1.min.js"></script>
    <!-- We support more than 40 localizations -->
    <script type="text/ecmascript" src="${request.contextPath}/static/js/i18n/grid.locale-en.js"></script>
    <!-- This is the Javascript file of jqGrid -->
    <script type="text/ecmascript" src="${request.contextPath}/static/js/jquery.jqGrid.min.js"></script>
    <!-- This is the localization file of the grid controlling messages, labels, etc.
    <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->
    <!--<link rel="stylesheet" href="${request.contextPath}/static/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- The link to the CSS that the grid needs -->
    <link rel="stylesheet" type="text/css" media="screen"
          href="${request.contextPath}/static/css/ui.jqgrid-bootstrap.css"/>
    <script>
        $.jgrid.defaults.width = 780;
        $.jgrid.defaults.styleUI = 'Bootstrap';
    </script>
    <!--<script src="${request.contextPath}/static/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div style="margin-left:20px">
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#jqGrid").jqGrid({
            url: 'static/data.json',
            datatype: "json",
            colModel: [
                { label: 'Category Name', name: 'CategoryName', width: 75 },
                { label: 'Product Name', name: 'ProductName', width: 90 },
                { label: 'Country', name: 'Country', width: 100 },
                { label: 'Price', name: 'Price', width: 80, sorttype: 'integer' },
                // sorttype is used only if the data is loaded locally or loadonce is set to true
                { label: 'Quantity', name: 'Quantity', width: 80, sorttype: 'number' }
            ],
            viewrecords: true, // show the current page, data rang and total records on the toolbar
            width: 780,
            height: 600,
            rowNum: 30,
            loadonce: true, // this is just for the demo
            pager: "#jqGridPager"
        });
    });

</script>
</body>
</html>